html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html {
  font-size: 100%;
  line-height: 1.5em; }

*,
*:after,
*:before {
  box-sizing: border-box; }

body,
html {
  font-family: 'Fira Sans','Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  min-height: 100%; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  position: relative;
  background: #f9f9f9; }

a,
button,
label {
  font-family: 'Fira Sans','Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  cursor: pointer; }

a {
  text-decoration: none; }

strong {
  font-weight: 700; }

main {
  display: block;
  width: 100%;
  max-width: 940px;
  margin: 3rem auto; }

h1,
.sub-title {
  display: block;
  font-size: 3.125rem;
  line-height: 3.75rem;
  font-weight: 700;
  color: #3A3C51;
  text-align: center;
  text-shadow: 0 2px 0 #232431, 2px 3px 0 #232431; }
  h1::selection,
  .sub-title::selection {
    background: #3A3C51;
    color: #F44C65; }

.sub-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-shadow: 0 1px 0 #232431, 1px 2px 0 #232431; }
  .sub-title:hover {
    color: #F44C65; }

.text-normal {
  display: block;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 500;
  color: #F44C65;
  text-align: center; }
  .text-normal:hover {
    color: #3A3C51; }

.random-quote-container {
  display: block;
  margin: 3rem auto;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(58, 60, 81, 0.2);
  border-radius: 3px;
  padding: 1.5rem;
  *zoom: 1; }
  .random-quote-container:after {
    content: "";
    display: table;
    clear: both; }

.random-quote-text {
  display: block;
  position: relative;
  font-size: 1.375rem;
  line-height: 2.25rem;
  text-align: center;
  padding: 0 3rem;
  margin-top: 0.75rem;
  margin-bottom: 3rem; }
  .random-quote-text .quote-text {
    display: block; }
    .random-quote-text .quote-text::selection {
      background: #3A3C51;
      color: #F44C65; }
    .random-quote-text .quote-text:after, .random-quote-text .quote-text:before {
      display: inline-block;
      position: relative;
      font-size: 0;
      line-height: 0;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 1.25rem;
      content: "\f10d";
      color: #F44C65; }
    .random-quote-text .quote-text:before {
      left: -8px;
      top: -10px;
      content: "\f10d"; }
    .random-quote-text .quote-text:after {
      right: -8px;
      top: 10px;
      content: "\f10e"; }

.random-quote-author {
  border-bottom: 2px solid #F44C65;
  padding: 0.325rem;
  margin: 0.325rem;
  transition: all 0.3s; }
  .random-quote-author:hover {
    background: #F44C65;
    color: #ffffff; }

.random-quote-button,
.random-quote-share {
  display: block;
  float: right; }

.random-quote-button {
  font-size: 1.25rem;
  line-height: 1.5rem;
  background: #F44C65;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  padding: 0rem 1.5rem;
  height: 3rem;
  transition: 0.2s; }
  .random-quote-button:hover {
    background: #f55e74; }

.random-quote-share {
  font-size: 1rem;
  line-height: 1.5rem;
  float: left;
  margin-top: -0.5rem; }

.share-tt {
  display: inline-block;
  font-size: 2.375rem;
  line-height: 3rem;
  text-align: center;
  margin-left: 0.75rem;
  color: #F44C65;
  vertical-align: middle; }
  .share-tt:hover {
    color: #f55e74; }

h1::selection,
.random-quote-text::selection,
.quote-text::selection,
.random-quote-author::selection,
.random-quote-share::selection {
  background: #3A3C51;
  color: #F44C65; }
